@font-face {
  font-family: 'UTM Avo';
  src: url('UTM Avo.eot');
  src: url('UTM Avo.woff2') format('woff2'),
       url('UTM Avo.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UTMAvo';
  src: url('UTMAvo.woff') format('woff'),
       url('UTMAvo.ttf') format('truetype'),
       url('UTMAvo.svg#UTMAvo') format('svg');
  font-weight: normal;
  font-style: normal;
}

